.container {
  padding: 80px 120px;
  min-height: 80vh;
}

.titulo {
  font-size: 36px;
  margin-bottom: 20px;
  color: #1f1f7a;
  font-weight: bold;
}

.descricao {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 700px;
  color: #333;
}

.card {
  background-color: #f7f7ff;
  border-left: 5px solid #1f1f7a;
  padding: 20px 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 50, 0.06);
}

.card h2 {
  color: #1f1f7a;
  font-size: 22px;
  margin-bottom: 8px;
}

.card p {
  font-size: 18px;
  color: #333;
}
