.categorySection {
  width: 100%;
  margin-bottom: 60px;
}

.categoryTitle {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20px;
}

.videosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  padding: 0 20px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.thumbnail {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.25);
}

.videoTitle {
  padding: 12px;
  font-size: 15px;
}
