.header {
  background-color:#e4efff;

  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoArea {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 100px;
  height: auto;
}
.nav {
  display: flex;
  gap: 26px;
}

.link {
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

.link:hover {
  color: #f44336;
  transform: translateY(-2px);
}
.searchBar {
  padding: 10px 14px;
  width: 230px;
  border-radius: 12px;
  border: none;
  font-size: 0.9rem;
  background: #1a1a1a;
  color: white;
  outline: none;
  transition: 0.3s;
}

.searchBar::placeholder {
  color: #bbb;
}

.searchBar:focus {
  background: #111;
  box-shadow: 0 0 8px #1f1f7a(255, 0, 76, 0.4);
}