
.footer{
  background:  #e4efff;
  color:black;
  padding:12px 0;
  border-top:6px solid rgba(0,0,0,0.1);
  position:relative;
  bottom:0;
  width:100%;
}

.inner{
  max-width:1200px;
  margin:0 auto;
  padding:6px 16px;
  text-align:center;
  font-weight:600;
}
