.banner {
 position: fixed;
  bottom: 5;
  left: 2;
  width: 100%;   
  background-color: #2e7d32;  
  color: white;         
  text-align: center;
  padding: 10px 0;   
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

