.banner {
  background: white;
  padding: 20px 0;
}

.inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.movies {
  width: 180px; 
  height: auto;
}

.slogan {
  font-family: "Brush Script MT", cursive;
  font-size: 28px;
  color:#004aad;
  padding: 10px 20px;
  border-radius: 8px;
}
